

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: gc
      POSTGRES_PASSWORD: gc
      POSTGRES_DB: greencredits
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data


  backend:
    build:
      context: ./backend
    environment:
      USE_SQLITE_DEV: false
      DATABASE_URL: postgresql+psycopg2://gc:gc@db:5432/greencredits
      SECRET_KEY: dev-secret
    depends_on:
      - db
    ports:
      - "8000:8000"

volumes:
  pg_data:



